# Uso de Conexión a Base de datos

La conexión a base de datos está pensada en permitir la extracción rápida de datos desde cualquier base de datos utilizando queries definidas por el usuario.

## Carga de Librerías

In [1]:
from finrisklib.data.dbconnection import SQLConn
from IPython.display import display # Formateo
from datetime import date

## ¿Como ejecutar una query?

### 1. Definir la consulta como un string

In [2]:
query_simple = """SELECT * FROM Banco.dbo.tipocambio WHERE fecha = '20220823'""" # Se puede definir la query de forma directa

process_date = date(year=2022, month=8, day=22)
query_template = f"SELECT * FROM Banco.dbo.tipocambio WHERE fecha = '{process_date.strftime('%Y%m%d')}'" # También se puede definir de forma parametrizada

### 2. Inicializar lector

In [3]:
reader = SQLConn.get_b08_conn() # Inicializando lector

### 3. Ejecutar query

In [4]:
result_simple = reader.execute_query(query=query_simple)
result_template = reader.execute_query(query=query_template)

### 4. Mostrar resultados

In [5]:
print("Resultado Query Simple: ")
display(result_simple)

Resultado Query Simple:

        fecha   localidad moneda         valor
0  2022-08-23  BR            BRL    180.960000
1  2022-08-23          CL    AUD    636.726400
2  2022-08-23          CL    BRL    180.454000
3  2022-08-23          CL    CAD    708.457200
4  2022-08-23          CL    CHF    952.468700
5  2022-08-23          CL    CLD    945.470000
6  2022-08-23          CL    CLF  33715.330000
7  2022-08-23          CL    CNY    134.202600
8  2022-08-23          CL    COP      0.210000
9  2022-08-23  CL            DEG   1277.010000
10 2022-08-23          CL    DKK    123.068800
11 2022-08-23          CL    EUR    915.394600
12 2022-08-23          CL    GBP   1086.970900
13 2022-08-23          CL    JPY      6.723400
14 2022-08-23          CL    KRW      0.681700
15 2022-08-23          CL    MXN     45.879100
16 2022-08-23          CL    NOK     94.526400
17 2022-08-23  CL            NZD    571.140000
18 2022-08-23          CL    PEN    237.780800
19 2022-08-23          CL    SEK     86.521900
20 2022-08-23          CL    USD    917.275000
21 2022-08-23  CL            ZAR     54.060000
22 2022-08-23          US    AUD      0.694200
23 2022-08-23          US    BRL      5.083200
24 2022-08-23          US    CAD      1.294800
25 2022-08-23          US    CHF      0.963100
26 2022-08-23          US    CNY      6.835000
27 2022-08-23          US    COP   4367.030000
28 2022-08-23          US    DKK      7.453400
29 2022-08-23          US    EUR      0.998000
30 2022-08-23          US    GBP      1.185000
31 2022-08-23          US    JPY    136.430000
32 2022-08-23          US    KRW   1345.615000
33 2022-08-23          US    MXN     19.993300
34 2022-08-23          US    NOK      9.703900
35 2022-08-23          US    NZD      0.622648
36 2022-08-23          US    PEN      3.857700
37 2022-08-23          US    SEK     10.601700
38 2022-08-23          US    USD    917.275000
39 2022-08-23          US    ZAR      0.058935

In [6]:
print("Resultado Query Template:")
display(result_template)

Resultado Query Template:

        fecha   localidad moneda         valor
0  2022-08-22  BR            BRL    181.420000
1  2022-08-22          CL    AUD    647.971200
2  2022-08-22          CL    BRL    182.851500
3  2022-08-22          CL    CAD    722.310800
4  2022-08-22          CL    CHF    977.325500
5  2022-08-22          CL    CLD    945.350000
6  2022-08-22          CL    CLF  33700.210000
7  2022-08-22          CL    CNY    137.615900
8  2022-08-22          CL    COP      0.214900
9  2022-08-22  CL            DEG   1312.040000
10 2022-08-22          CL    DKK    125.856000
11 2022-08-22          CL    EUR    936.073600
12 2022-08-22          CL    GBP   1109.623000
13 2022-08-22          CL    JPY      6.856800
14 2022-08-22          CL    KRW      0.703400
15 2022-08-22          CL    MXN     46.806900
16 2022-08-22          CL    NOK     95.832900
17 2022-08-22  CL            NZD    581.150000
18 2022-08-22          CL    PEN    243.199600
19 2022-08-22          CL    SEK     87.926400
20 2022-08-22          CL    USD    942.435000
21 2022-08-22  CL            ZAR     55.410000
22 2022-08-22          US    AUD      0.687600
23 2022-08-22          US    BRL      5.154100
24 2022-08-22          US    CAD      1.304800
25 2022-08-22          US    CHF      0.964300
26 2022-08-22          US    CNY      6.848300
27 2022-08-22          US    COP   4385.330000
28 2022-08-22          US    DKK      7.488200
29 2022-08-22          US    EUR      0.993300
30 2022-08-22          US    GBP      1.177400
31 2022-08-22          US    JPY    137.445000
32 2022-08-22          US    KRW   1339.800000
33 2022-08-22          US    MXN     20.134600
34 2022-08-22          US    NOK      9.834200
35 2022-08-22          US    NZD      0.616647
36 2022-08-22          US    PEN      3.875200
37 2022-08-22          US    SEK     10.718500
38 2022-08-22          US    USD    942.435000
39 2022-08-22          US    ZAR      0.058794

## ¿Como manipular los datos?

Las queries directas retornan un objeto dataframe del paquete Pandas por lo que son manipuladas utilizando los comandos especificados por el proveedor.

### a) Extracción de una o mas columnas

In [7]:
selected_data = result_template.loc[:, ["valor"]]

In [8]:
result_template.to_excel(r'prueba.xlsx')

In [9]:
display(selected_data)

           valor
0     181.420000
1     647.971200
2     182.851500
3     722.310800
4     977.325500
5     945.350000
6   33700.210000
7     137.615900
8       0.214900
9    1312.040000
10    125.856000
11    936.073600
12   1109.623000
13      6.856800
14      0.703400
15     46.806900
16     95.832900
17    581.150000
18    243.199600
19     87.926400
20    942.435000
21     55.410000
22      0.687600
23      5.154100
24      1.304800
25      0.964300
26      6.848300
27   4385.330000
28      7.488200
29      0.993300
30      1.177400
31    137.445000
32   1339.800000
33     20.134600
34      9.834200
35      0.616647
36      3.875200
37     10.718500
38    942.435000
39      0.058794

### b) Búsqueda de un dato en especifico

In [10]:
selected_data = result_template.loc[result_template['moneda'] == 'USD']

In [11]:
display(selected_data)

        fecha localidad moneda    valor
20 2022-08-22        CL    USD  942.435
38 2022-08-22        US    USD  942.435

### c) Obtener data de acuerdo a localización

In [12]:
selected_data = result_template.loc[1][3]

In [13]:
display(selected_data)

647.9712