# Uso de Dataset

La clase dataset contiene toda la información e inteligencia de mercado

## Carga de librerías

In [1]:
from finrisklib.market.fxrate import FxPair
from finrisklib.data.dbreader import DBReader
from finrisklib.enums import FinancialIndex
from finrisklib.enums import Currency

from datetime import date
from IPython.display import display # Formateo

## Carga de Dataset desde base de datos

In [2]:
market_date = date(year=2022, month=8, day=24)

reader = DBReader()
dataset = reader.get_dataset(process_date=market_date)

## Funcionalidades Fx

### a) Obtención de spot descontado

In [3]:
fx = FxPair.generate('USDCLP')
value = dataset.get_fx_rate(fx_pair=fx)

print(value)

916.8005004691394

### b) Obtención de spot no descontado

In [4]:
dataset.disable_discounted_spot()
value = dataset.get_fx_rate(fx_pair=fx)

print(value)
dataset.enable_discounted_spot()

916.965

### c) Obtención de tipo de cambio proyectado

In [5]:
forward_date = date(year=2022, month=9, day=22)

value = dataset.get_fx_forward_rate(fx_pair=fx, forward_date=forward_date)
print(value)

922.2345691064787

## Funcionalidades Curvas

### a) Obtención de curva de acuerdo a colateral

In [6]:
currency = Currency.CLP
collateral = Currency.USD

curve = dataset.get_discount_curve(associated_currency=currency, associated_collateral=collateral)

display(curve.rates_to_dataframe())

      Tenor     Rates
0       1.0  0.091203
1       2.0  0.091226
2      96.0  0.109755
3     187.0  0.110720
4     275.0  0.105625
5     369.0  0.098712
6     551.0  0.088595
7     733.0  0.083693
8    1098.0  0.073127
9    1463.0  0.066843
10   1828.0  0.064083
11   2196.0  0.061675
12   2560.0  0.059306
13   2924.0  0.057613
14   3289.0  0.056305
15   3655.0  0.055658
16   4387.0  0.052918
17   5481.0  0.050245
18   7307.0  0.045263
19  10960.0  0.036617

In [7]:
currency = Currency.CLP
collateral = Currency.CLP

curve = dataset.get_discount_curve(associated_currency=currency, associated_collateral=collateral)

display(curve.rates_to_dataframe())

      Tenor     Rates
0       1.0  0.102367
1       2.0  0.102393
2      96.0  0.112523
3     187.0  0.114707
4     275.0  0.115283
5     369.0  0.113394
6     551.0  0.106755
7     733.0  0.101230
8    1098.0  0.088235
9    1463.0  0.080234
10   1828.0  0.075787
11   2196.0  0.073229
12   2560.0  0.070940
13   2924.0  0.068950
14   3289.0  0.067660
15   3655.0  0.067222
16   4387.0  0.067559
17   5481.0  0.067897
18   7307.0  0.068521
19  10960.0  0.071195

### b) Obtener curva de proyección

In [8]:
idx = FinancialIndex.ICP

curve = dataset.get_projection_curve(associated_index=idx)
display(curve.rates_to_dataframe())

      Tenor     Rates
0       1.0  0.102367
1       2.0  0.102393
2      96.0  0.112523
3     187.0  0.114707
4     275.0  0.115283
5     369.0  0.113394
6     551.0  0.106755
7     733.0  0.101230
8    1098.0  0.088235
9    1463.0  0.080234
10   1828.0  0.075787
11   2196.0  0.073229
12   2560.0  0.070940
13   2924.0  0.068950
14   3289.0  0.067660
15   3655.0  0.067222
16   4387.0  0.067559
17   5481.0  0.067897
18   7307.0  0.068521
19  10960.0  0.071195

### a) Obtención de índice a una fecha específica

In [9]:
idx = FinancialIndex.ICP
idx_date = date(year=2022, month=8, day=19)

idx_value = dataset.get_index_data(index=idx, idx_date=idx_date)
print(idx_value)

20089.53

### b) Obtención de data histórica de indice

In [10]:
idx = FinancialIndex.ICP
start_date = date(year=2022, month=8, day=1)
end_date = date(year=2022, month=8, day=23)

idx_value = dataset.get_index_data_between(index=idx, start_date=start_date, end_date=end_date)
display(idx_value)

{datetime.date(2022, 8, 1): 19991.85,
 datetime.date(2022, 8, 2): 19997.26,
 datetime.date(2022, 8, 3): 20002.68,
 datetime.date(2022, 8, 4): 20008.1,
 datetime.date(2022, 8, 5): 20013.52,
 datetime.date(2022, 8, 8): 20029.78,
 datetime.date(2022, 8, 9): 20035.2,
 datetime.date(2022, 8, 10): 20040.63,
 datetime.date(2022, 8, 11): 20046.06,
 datetime.date(2022, 8, 12): 20051.49,
 datetime.date(2022, 8, 16): 20073.21,
 datetime.date(2022, 8, 17): 20078.65,
 datetime.date(2022, 8, 18): 20084.09,
 datetime.date(2022, 8, 19): 20089.53,
 datetime.date(2022, 8, 22): 20105.85,
 datetime.date(2022, 8, 23): 20111.3}